* {
  font-size: 15pt;
  margin: 0;
  padding: 0;
}

.startButton{
  width: 200px;
  height: 150px;
  background-color: white;
  padding: 50px;
  border: solid black 2px;
  border-radius:50%;
}

.volume{
  position: absolute;
  top:15px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.buttonL{
  width: 100%;
  height: 100%;
  background-image: url("/pngwing.com (18).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  border-style: none;
  background-color: white;
}


.buttonD{
  width: 100%;
  height: 100%;
  background-image: url("/pngwing.com (19).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  border-style: none;
  background-color: white;
}


.preloader{
  opacity: 1.9;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  background-image: url("/pngwing.com (17).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;
}


.content {
  height: 100vh;
  /* background: gray;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/pngwing.com (12).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
}

.content-el {
  position: relative;
  height: 80%;
  width: 60%;
  margin: 0 auto;
  background-color: rgba(245, 73, 73, 0.5);
  border-radius: 12px;
  margin-right: 60px;
  box-shadow: 0 0 10px 3px gray;
}

.img-girls {
  position: absolute;
  top: -20px;
  left: -90px;
}

.close-modal{
  position: absolute;
  top: -13px;
  right: -13px;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.btn{
  border-style: none;
  width: 200px;
  height: 30px;
  border-radius: 13px;
}

